

doctype html
html
    head
        meta(charset='utf-8')
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        // Favicons
        link(rel='apple-touch-icon', href='./assets/img/apple-icon.png')
        // <link rel="icon" href="/assets/img/favicon.png">
        title
            | Nertalk
        // Fonts and icons
        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
        link(rel='stylesheet', href='/assets/css/material-kit.css?v=2.0.0')
        link(rel='stylesheet', href='/assets/css/style.css')
    body.login-article
        nav#sectionsNav.navbar.fixed-top.navbar-expand-lg(color-on-scroll='0')
            .container
                .navbar-translate
                    a.navbar-brand(href='../index.html') Nerdtalk 
                    button.navbar-toggler(type='button', data-toggle='collapse', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                        span.navbar-toggler-icon
                        span.navbar-toggler-icon
          != messages()
          h2.login-headline Connect with awesome nerds arround the world
          div.login-container
            a(href='./auth/google')
                button.btn.btn-social.btn-fill.btn-google
                  i.fa.fa-google-plus-square
                  |  Signin with Google
                  .ripple-container

          script(src='/assets/js/core/jquery.min.js')
          script(src='/assets/js/core/popper.min.js')
          script(src='/assets/js/bootstrap-material-design.js')
          script(src='/assets/js/material-kit.js?v=2.0.0')

          footer
          p Nerdtalk &copy; 2018